.container {
  width: 100%;
  max-width: 100%;

  .main {
    &-container {
      background-color: var(--br-color-blue-violet-200);
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 100vh;
      width: 100%;
      position: relative;
      z-index: 0;
    }
  }
}